{{ define "static_page/about.html" }}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-touch-fullscreen" content="YES">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>关于</title>
    {{ template "shared/style" }}
  </head>
  <body>

  {{ template "shared/nav" . }}
  <div class="container">
    <div class="offset-md-1 col-md-10">
      {{ template "shared/messages" . }}
      <h1>关于</h1>
      <p class="lead">
        hi.
      </p>
      <p>
        这里是介绍。
      </p>
      {{ template "shared/footer" }}
    </div>
  </div>

  {{ template "shared/script" }}
  </body>
</html>


{{ end }}
